altgraph==0.17.4
attrs==24.3.0
certifi==2024.12.14
darkdetect==0.7.1
h11==0.14.0
idna==3.10
outcome==1.3.0.post0
packaging==24.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
PyQtDarkTheme @ git+https://github.com/5yutan5/PyQtDarkTheme.git@96eb7e368039ab446952573bafc17d54b7ef5123
PySocks==1.7.1
selenium==4.27.1
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
